<!DOCTYPE html>

<html>
    <head>
        <title>Bantuan</title>
        <link rel="icon" href="/img/help.png">
        <link rel="stylesheet" href="/css/style.css">
        <script src="/js/app.js"></script>
    </head>
    <body>
        <h1>Bantuan apa yang anda butuhkan?</h1>
        <div class = "main=content">
            {{>header}}
            <p>{{teksBantuan}}</p>
        </div>        
        {{>footer}}
    </body>
</html>